#home {
  width: 100%;
  height: 100vh;
  margin: 0;
  position: relative;
}
.home-content {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.home-photo-wrapper {
  width: 30%;
  height: auto;
  position: absolute;
  top: 10vh;
  right: 10vw;
  z-index: -2;
}
.home-photo {
  width: 100%;
  height: auto;
}
.home-greeting {
  /* color: #fff; */
  line-height: 1.2;
  margin: 0 0 15px 0;
  display: flex;
  flex-direction: column;
}
.home-greeting-iam {
  font-size: 20px;
  opacity: 0.8;
}
.home-greeting-name {
  /* font-size: 80px; */
  font-size: 5em;
  font-weight: 500;
}
.home-me {
  font-size: 18px;
  /* color: #fff; */
  opacity: 0.9;
  margin-top: 20px;
}
.home-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 80px;
  padding: 0;
}
.home-link {
  margin: 0 20px 0 0;
  letter-spacing: 4px;
  /* color: #fff; */
  opacity: 0.5;
  font-weight: normal;
  font-size: 13px;
  transition: opacity 0.3s;
  text-transform: uppercase;
}
.home-link:hover {
  /* color: #fff; */
  opacity: 0.95;
}
.home-background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Styles pour écrans de petite taille (mobiles) */
@media (max-width: 480px) {
  .home-content {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: left; */
  }
  .home-photo-wrapper {
    width: 90%;
    height: auto;
    /* position: absolute; */
    top: 10vh;
    right: 10vw;
    z-index: -2;
  }
  .home-photo {
    width: 100%;
    height: auto;
  }
  .home-greeting {
    /* color: #fff; */
    line-height: 1.2;
    margin: 0 0 15px 0;
    display: flex;
    flex-direction: column;
  }
  .home-greeting-iam {
    font-size: 20px;
    opacity: 0.8;
  }
  .home-greeting-name {
    /* font-size: 80px; */
    font-size: 5em;
    font-weight: 500;
  }
  .home-me {
    font-size: 18px;
    /* color: #fff; */
    opacity: 0.9;
    margin-top: 20px;
  }
  .home-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 80px;
    padding: 0;
  }
  .home-link {
    margin: 0 20px 0 0;
    letter-spacing: 4px;
    /* color: #fff; */
    opacity: 0.5;
    font-weight: normal;
    font-size: 13px;
    transition: opacity 0.3s;
    text-transform: uppercase;
  }
  .home-link:hover {
    /* color: #fff; */
    opacity: 0.95;
  }
  .home-background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

/* Styles pour tablettes */
@media (min-width: 481px) and (max-width: 768px) {
  /* Styles CSS spécifiques */
}

/* Styles pour petits écrans de bureau */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Styles CSS spécifiques */
}

/* Styles pour écrans de bureau
@media (min-width: 1025px) {
  Styles CSS spécifiques 
}
*/
